/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  background-color: #2d2b24;
  color: #f5f1e0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#333134, #29272a);
  color: #f6ecfb;
  min-height: 100vh;
}

img {
  display: block;
  margin: 3rem auto;
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.7));
}

h1,
p {
  text-align: center;
}

button {
  font: inherit;
  padding: 0.25rem 1rem;
  border-radius: 4px;
  background-color: #c36eed;
  border: 1px solid #c36eed;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #bd56f1;
  border-color: #bd56f1;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}


/* styles.css */
nav {
  background-color: #1f2937; /* bg-gray-800 */
  color: white;
  padding: 1rem; /* p-4 */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); /* shadow-lg */
}

nav ul {
  display: flex;
  gap: 1.5rem; /* space-x-6 */
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in-out; /* transition-colors duration-200 */
  margin-left: 20px;
}

nav a:hover {
  color: #93c5fd; /* hover:text-blue-300 */
}

nav a.router-link-active {
  color: #60a5fa; /* text-blue-400 */
  font-weight: bold; /* font-bold */
}

