/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: #2d2b24;
}

p {
  text-align: center;
}

/* styles.css */
nav {
  background-color: #1f2937; /* bg-gray-800 */
  color: white;
  padding: 1rem; /* p-4 */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); /* shadow-lg */
}

nav ul {
  display: flex;
  gap: 1.5rem; /* space-x-6 */
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in-out; /* transition-colors duration-200 */
  margin-left: 20px;
}

nav a:hover {
  color: #93c5fd; /* hover:text-blue-300 */
}

nav a.router-link-active {
  color: #60a5fa; /* text-blue-400 */
  font-weight: bold; /* font-bold */
}
